{% import "bootstrap/utils.html" as utils %}
{% extends "admin_base.html" %}
{% block title %}Customers{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center; color:white"><strong>Customers</strong></h1>
        {% if customers %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                <th width="10%"> Token </th>
                  <th width="30%"> Name </th>
                  <th width="10%"> Age </th>
                  <th width="20%"> Phone </th>
                  <th width="30%"> Date </th>
                </tr>
              </thead>
              <tbody>
              {% for customer in customers %}

                 {% if customer.is_done %}
                    <tr style="background-color: #668cff; color: white;">
                {% elif customer.is_current  %}
                    <tr style="background-color: #aec251; color: white;">
                {% else %}
                    <tr>
                {% endif %}
                  <td> {{ customer.id }} </td>
                  <td> {{ customer.name }} </td>
                  <td> {{ customer.age }} </td>
                  <td>                 
                      {{ customer.phone_no }}
                  </td>
                  <td>
                    {{ customer.t_date }}
                  </td>                  
                </tr>                
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No customers have been added. </h3>
            <hr class="intro-divider">
        {% endif %}

<!--Buttons -->

        <a href="{{ url_for('admin.next_customer') }}" class="btn btn-default btn-lg">
            <i class="fa "></i>
            Next Customer
          </a>

          <a href="{{ url_for('admin.reset_customer') }}" class="btn btn-default btn-lg">
            <i class="fa"></i>
            Queue Reset
          </a>

          <a href="{{ url_for('admin.list_customers') }}" class="btn btn-default btn-lg">
            <i class="fa "></i>
            Refresh
          </a>

      <!-- Buttons end -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}